* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --title: 'Noto Sans JS', sans-serif; 
    --main: 'Roboto', sans-serif;
    --primary: #F39189;
    --seconday: #eeeeee;
    --tertiary: #6E7582;
    --white: #ffffff;
    --foot: #046582;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: var(--title);
    margin-bottom: 0px;
}

body { 
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 12fr 1fr; */
}
header { 
    /* grid-column: 1 / 3;
    grid-row: 1 / 2; */
    background-color: var(--primary);
    width: 90%;
    margin: 20px auto 0 auto;
 
}
header .tablet-desktop { 
    display: none;
}
header .dropdown { 
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px; 
    /* position: relative; */
    height: 92px;
}

.dropdown a.fas { 
    background-color: var(--primary);
    color: white;
    text-decoration: none;
} 

/* main { 
    grid-column: 1 / 3;
    grid-row: 2 / 3;
} */
#title { 
    font-family: var(--title);
    font-weight: 700;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about { 
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: var(--tertiary);
    color: white;
    font-family: var(--main);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 0 0 50px 0;
}

#about p { 
    text-align: center;
}

#projects { 
    width: 90%; 
    margin: 20px auto;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#projects p { 
    font-family: var(--title);
    font-weight: 700;
    font-size: 1.5em;
    height: 50%;
}

.card {
    margin: 10px 0;
}

.btn  { 
    background-color: #BB8082 !important;
    border: none !important;
}

#contact-me { 
    font-family: var(--title);
    color: var(--primary);
    background-color: var(--tertiary);
    height: 25%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0 0 0;
}

#contact-me p { 
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5em;
}

form { 
    margin-left: 15px;
}

#contact-me label { 
    color: white;
    font-weight: 300;
    font-size: 1em;
}

#contact-me #submit-button { 
    border-radius: 15px;
    padding: 5px 15px;
    text-align: center;
    background-color: #BB8082;
    margin: 10px 89px 20px;
    border: none; 
}

#social { 
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-around;
    height: 10%;
    background-color: #eeeeee;
}

#social h3 { 
    font-family: var(--title);
    font-weight: 700;
}

#social ul li { 
    list-style: none;
    color: var(--foot);
    padding-top: 10px;

}
footer { 
    /* grid-column: 1 / 3; 
    grid-row: 3/ 4; */
    background-color: var(--foot);
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    border-radius: 50px 0 0 0;
}

footer ul { 
    list-style: none;
    color: white;
    display: flex;
    font-size: 0.5em;
    justify-content: space-around;
    align-items: center;
    
}

footer ul li a { 
    padding: 5px;
    text-decoration: none;
    color: white;
}

footer ul li a:visited { 
    color: white;
    text-decoration: none;
} 




@media screen and (min-width: 768px) { 
    #contact-me { 
        display: block;
        text-align: center;
    }

    .project-header { 
        width: 90%;
        text-align: center;
    }

    .card { 
        margin: 10px 10px;
    }

    #contact-me { 
        padding-top: 20px; 
    }
    
    header div.dropdown { 
        display: none;
    }

    header .tablet-desktop { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 5px 10px;
    }

    .tablet-desktop ul { 
        display: flex;
    }

    .tablet-desktop li { 
        list-style: none;
        padding: 5px;
    }

    .tablet-desktop li a { 
        text-decoration: none;
        color: white;
    }

    footer { 
        height: 50px;
        font-size: 2em;
    }
    #about { 
        padding: 5px 60px;
        height: 200px;
    }

}

@media screen and (min-width: 1024px) { 
    #title { 
        font-size: 2em;
    }
    #about { 
        font-size: 1.5em;
    }
}